<div class="row">
    <div class="col-md-12 headerMenu">
      <i class="fas fa-user-friends"></i>
      <h1 class="logo">Customer Menager</h1>
      <ul class="nav nav-pills menu">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['Customers',1,'none']" routerLinkActive="active">Customer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/Orders" routerLinkActive="active">Orders</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/About" routerLinkActive="active">About</a>
        </li>
      </ul>
    </div>
</div>
<router-outlet></router-outlet>